input[type=text],
input[type=password],
button {
    width: 100%;
}

form>div {
    margin: 16px 0px 16px 0px;
}

form>div>label {
    font-weight: bold;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.input {
    position: relative;
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-icon i.fa-check {
    color: green;
}

.input-icon i.fa-times {
    color: red;
}

footer {
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(224, 209, 209);
    color: white;
    text-align: center;

}